
/* Containers
--------------------------------- */
body {
   background-color: #88b2d2;
}

.page {max-width: 960px; margin: 0 auto;}

main {float: left; width: 60%;}
.main-A {float: left; width: 58%;}

.sidebar {float: right; width: 30%; font-weight: bold;
   font-size:larger; color: rgb(34, 10, 90); padding-top: -10%; padding-bottom: 10%;}
.sidebar-A {float: right; width: 38%; font-weight: bold; font-size:larger; color: rgb(34, 10, 90);
   padding-top: -10%; padding-bottom: 10%; margin-left: 2%;}    

/* Masthead
--------------------------------- */
.masthead {max-width: 960px; margin: 0 auto;}

/* Footer
--------------------------------- */
.footer {width: 100%; max-height: 25px; clear: both; float: left; background-color: rgb(34, 10, 90);
   text-align: center; font-size: medium; color: white; margin-bottom: 1%; padding-bottom: 4%;}

   .href{font-size: medium; color: white;}
   .bullet{font-size: large;}

/* Video
---------------------------------- */
.video {padding-left: 20%;}
.freedom {padding-left: 20%}


/* Content
--------------------------------- */
h1 {float: left; width: 60%; margin-bottom: -1%;}
h2 {float: left; width: 60%; margin-bottom: 1%;}

.return {margin-bottom: 5%;} /* Margin added to bottom of form.html */



/* Horizontal Rule
--------------------------------- 
hr {border-top: 2px solid rgb(92, 39, 4);} */


